.post-meta {
	
	h1 {
		color: $primary;
	}

	h4 {
		color: $secondary;
		font-size: 1.3rem;
	}
}

.elementor-content {
	margin-top: 25px;
}

.nav-card {
	i {
		color: $secondary;
	}

	h3 {
		margin-top: 20px;
	}
}

.edition-wrap {
	iframe {
		width: 100% !important;
		height: 800px !important;
	}
}

.breadcrumb {
	background-color: $white;
	margin-bottom: 25px;
}