.testimonial-wrap {
  span {
    position: relative;
    p {
      color: $primary;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .name {
    color: $secondary;
    font-weight: bold;
    text-align: right;
    font-size: 18px;

  }
}